<!doctype html>
<html>
<head>
	<title>Digital Doctor</title>
	<script src="/js/loginScript.js"></script>
	<script src="/js/applicationScript.js"></script>
	<script src="/js/DigitalDoctor.js"></script>
	<script src="/js/patientInfoScript.js"></script>
	<script src="/js/doctorInfoScript.js"></script>
	<link rel="stylesheet" href="/css/loginStyle.css" type="text/css"/>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
	{{{body}}}
</body>
</html>