<body style="color:#ad1a1a; padding-top: 100px">
    <div class="container">
        <div class="jumbotron">
            <p>Welcome to the Digital Doctor!</p>
            <div id="newAccountDiv">
                <form id="newUserAccountForm" method="post">
                    <div id="accountTypeSelector" class="form-group">
                        <p>Are you a patient or a doctor?</p>
                        <label class="radio-inline">
                            <input id="patientAccountSelector" name="userTypeSelector" type="radio" value="P" required>Patient
                        </label>
                        <label class="radio-inline">
                            <input id="doctorAccountSelector" name="userTypeSelector" type="radio" value="D" required>Doctor
                        </label>
                    </div>

                    <fieldset id="newAccountForm">
                        <p>To create an account, please provide us with your e-mail and desired password</p>
                        <div>
                            <label for="signupemail">Email</label>
                            <input id="signupemail" name="signupemail" type="email" required>
                        </div>
                        <div>
                            <label for="signuppassword">Password</label>
                            <input id="signuppassword" name="signuppassword" type="password" required>
                        </div>
                        <input id="submitsignup" type="submit" onclick="register()">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div id="response"></div>
</body>